body{  
  background-color: #fffffa ;
  z-index: 1;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.container {
  width: 80%;
 /* clear: both;*/
  border: .5em;
  border-style: none;
  background-color: #a5d8f057 ;
  justify-content: center;
 
}



.container-taskform {
  width: 50%;
  clear: both;
  border: .5em;
  border-style: none;
  /*  width: auto;*/
  background-color: #a5d8f057 ;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  
}

.form-control{
  background-color: #fffffa ;
}

.btn-primary {
  color: #fff;
  background-color: #7f97dad3;
  margin:auto;
  display:block;
  padding:5px;
  min-width: 80px;
  max-width: 80px;
       
}

.card-body{
background-color:#7f97dad3; /*#fffffa; /* #b9dee9;*/
width: 20rem;
}


.button-display{
width: 5rem;
color: #fff;
background-color: #8db5db;
 
 border: 1px solid rgb(133, 142, 219);
 border-bottom: 5px solid  rgb(133, 142, 219);
 font-size: 12px;
 margin: 5px;
 padding: 1px 7px 1px 7px;
 display: inline-block;
 position: relative;
 top: 0px;
  
}

.list-group-item{
align-self: center;
background-color: #a5d8f057; 
border-width: 5px;
color:rgb(13, 13, 75);

}
 
ul{
  list-style-type:none;
}

.card-btn-display-green{
  width: 3rem;
  color:black;
  background-color: #d6f8e3;
  border: 1px solid rgb(131, 179, 131);
  border-bottom: 5px solid rgb(131, 179, 131);
  font-size: 12px;
  margin: 5px;
  padding: 1px 7px 1px 7px;
  display: inline-block;
  position: relative;
  top: 0px;
    }

.card-btn-display-red{
  width: 3rem;
  color:black;
  background-color: #fdeaeb;
  border: 1px solid rgb(240, 180, 180);
  border-bottom: 5px solid  rgb(240, 180, 180);
  font-size: 12px;
  margin: 5px;
  padding: 1px 7px 1px 7px;
  display: inline-block;
  position: relative;
  top: 0px;
  
      
  }

  .badge-display{

  border-bottom: 5px solid #a5d8f057;;
  margin: 5px;
  padding: 1px 7px 1px 7px;
  display: inline-block;
  position: relative;
  top: 0px;

  }
